<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Lust</title>
</head>
<body>
    
    <h1>Wonder Lust</h1>
    <h2>Listing</h2>
    <a href="/listings/new">Add Listing</a>
    <ul>
        <% listings.forEach(function(listing) { %>
            <li>
                <a href="/listings/<%= listing.id %>"><%= listing.title %></a>
            </li>
        <% }); %>
    </ul>

</body>
</html>