<% layout('layouts/boilerplates') %>
<body>
    <h2>Listing</h2>
    <!-- <form action="/listings/new" method="get">
        <button type="submit">Lust Your place</button>
    </form> -->
    <ul>
        <% listings.forEach(function(listing) { %>
            <li>
                <a href="/listings/<%= listing.id %>"><%= listing.title %></a>
            </li>
        <% }); %>
    </ul>

</body>
