<% layout('layouts/boilerplates') %> 
<div class="row mt-3">
    <h2 class="col-6 offset-3"> signup on Wonder Lust</h2>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" novalidate class="form-group">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="username" 
                    id="username" 
                    required
                >
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a username.
                </div>
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    name="email" 
                    id="email" 
                    required
                >
                <div class="invalid-feedback">
                    Please enter a valid email.
                </div>
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    name="password" 
                    id="password" 
                    required
                >
                <div class="invalid-feedback">
                    Please enter a password.
                </div>
            </div>
            
            <button class="btn btn-success">Sign Up</button>
        </form>
        
        <script>
        const form = document.querySelector('form');
        
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });
        </script>
        
    </div>
</div>
        